/* h1,
p {
  margin: 0;
  padding: 0;
}
 */
.recipe-wrapper{
  padding: min(50px,7%);
  color: white;
}


.buttons-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button {
  border: 1px solid #242424;
  background: #242424;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px #bf3134;
}

/* .items-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
} */

.items-container{
  margin: 0px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr)) ;
  gap:15px;
  justify-content: center;
}

/* .item {
  background: #242424;
  padding: 4px 10px;
  min-width: 100px;
  min-height: 50px;
  margin: 4px 10px;
  border: 1px solid #242424;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.item{
  padding: 2em;
  border: 1px solid rgb(75,82,92);
  border-radius:10px;
  text-align: center;
  background-color: #222429;
}

.category {
  color: rgb(128, 128, 128);
  font-size: 10px;
}

.active {
  background-color: #bf3134;
  color: #000000;
  border-radius: 10px;
}
